<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Encontristas</title>
</head>
<body>
  <h1>Encontristas</h1>

 <!-- Botão para voltar à página inicial -->
  <a href="{{ url_for('index') }}">
    <button type="button">Voltar para Página Inicial</button>
  </a>
  <br><br>
  
  <form method="get">
    Nome Usual Ele: <input type="text" name="nome_usual_ele" value="{{ request.args.get('nome_usual_ele', '') }}">
    Nome Usual Ela: <input type="text" name="nome_usual_ela" value="{{ request.args.get('nome_usual_ela', '') }}">
    Ano: <input type="text" name="ano" value="{{ request.args.get('ano', '') }}">
    <button type="submit">Filtrar</button>
  </form>
  <table border="1">
    <thead>
      <tr>
        {% for col in dados[0].keys() %}
          <th>{{ col }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in dados %}
        <tr>
          {% for value in row.values() %}
            <td>{{ value }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div>
    {% if pagina > 1 %}
      <a href="{{ url_for('encontristas', pagina=pagina-1, **request.args.to_dict()) }}">Anterior</a>
    {% endif %}
    Página {{ pagina }} de {{ total_paginas }}
    {% if pagina < total_paginas %}
      <a href="{{ url_for('encontristas', pagina=pagina+1, **request.args.to_dict()) }}">Próxima</a>
    {% endif %}
  </div>
</body>
</html>
