
{% extends 'base.html' %}
{% block content %}
  <h2>Visão Casal</h2>
  <form method="get">
    <input type="text" name="nome_ele" value="{{ nome_ele }}" placeholder="Nome Ele" />
    <input type="text" name="nome_ela" value="{{ nome_ela }}" placeholder="Nome Ela" />
    <button type="submit">Buscar</button>
  </form>

  {% if dados_encontrista %}
    <h3>Encontrista em: {{ dados_encontrista['ano'] }}</h3>
  {% endif %}

  {% if dados_encontreiros %}
    <h3>Equipes que Trabalhou:</h3>
    <table>
      <tr>
        <th>Ano</th>
        <th>Equipe</th>
        <th>Pasta</th>
        <th>Coordenador</th>
      </tr>
      {% for row in dados_encontreiros %}
      <tr>
        <td>{{ row.ano }}</td>
        <td>{{ row.equipe }}</td>
        <td>{{ row.pasta }}</td>
        <td>{{ row.coordenador }}</td>
      </tr>
      {% endfor %}
    </table>
  {% endif %}
{% endblock %}
